[user]
  name = Ray Lin
  email = ray.lin@titansoft.com.sg
[core]
  excludesfile = ~/.gitignore_global
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[alias]
  co = checkout
  br = branch
  cm = commit -m 
  ss = status
